<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--  원래 클래스명은 패키지까지 포함하기때문에
너무 길어서 짧은 별명을 만들어서 접근하기 위해
기술한다  -->
	<typeAliases>
     	<typeAlias alias="MarkDto" type="mlp.project.lollipop.MARK.MarkDto"/>	
    	<typeAlias alias="UserDto" type="mlp.project.lollipop.USER.UserDto"/>
		<typeAlias alias="ReviewDto" type="mlp.project.lollipop.REVIEW.ReviewDto"/>
		<typeAlias alias="StoreDto" type="mlp.project.lollipop.STORE.StoreDto"/>
	</typeAliases>
	
	<mappers>
		 <mapper resource="/mlp/project/lollipop/mapper/Mark.xml"/>
		 <mapper resource="/mlp/project/lollipop/mapper/User.xml"/>
		 <mapper resource="/mlp/project/lollipop/mapper/Review.xml"/>
		 <mapper resource="/mlp/project/lollipop/mapper/Store.xml"/>
	</mappers>
	
</configuration>