<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--  원래 클래스명은 패키지까지 포함하기때문에
너무 길어서 짧은 별명을 만들어서 접근하기 위해
기술한다  -->
	<typeAliases>
    	<typeAlias alias="UserDto" type="mlp.project.lollipop.USER.UserDto"/>
		<typeAlias alias="PLAY_ReviewDto" type="mlp.project.lollipop.PLAY_REVIEW.PLAY_ReviewDto"/>
		<typeAlias alias="Cafe_ReviewDto" type="mlp.project.lollipop.CAFE_REVIEW.Cafe_ReviewDto"/>
		<typeAlias alias="FOOD_ReviewDto" type="mlp.project.lollipop.FOOD_REVIEW.FOOD_ReviewDto"/>
		<typeAlias alias="StoreDto" type="mlp.project.lollipop.STORE.StoreDto"/>
		<typeAlias alias="TodayDto" type="mlp.project.lollipop.TODAY_REVIEW.Today_ReviewDto"/>
		<typeAlias alias="MarkDto" type="mlp.project.lollipop.MARK.MarkDto"/>
		<typeAlias alias="NoticeDto" type="mlp.project.lollipop.NOTICE.NoticeDto"/>
		<typeAlias alias="QnaDto" type="mlp.project.lollipop.QNA.QnaDto"/>
		
	</typeAliases>
	<mappers>
		 <mapper resource=	"/mlp/project/lollipop/mapper/User.xml"/>
		 <mapper resource=	"/mlp/project/lollipop/mapper/PLAY_Review.xml"/>
		 <mapper resource=	"/mlp/project/lollipop/mapper/Store.xml"/>
		 <mapper resource=	"/mlp/project/lollipop/mapper/Cafe_Review.xml"/>
		 <mapper resource=	"/mlp/project/lollipop/mapper/Today_Review.xml"/>
		 <mapper resource=	"/mlp/project/lollipop/mapper/Food_Review.xml"/>
		 <mapper resource="/mlp/project/lollipop/mapper/Mark.xml"/>
		 <mapper resource=	"/mlp/project/lollipop/mapper/Notice.xml"/>
		 <mapper resource=	"/mlp/project/lollipop/mapper/Qna.xml"/>
		 <mapper resource=	"/mlp/project/lollipop/mapper/Ocr.xml"/>
	</mappers>
	
</configuration>